<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GetScoresFromFiles.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <GetScoresFromFiles.Properties.Settings>
            <setting name="repCible" serializeAs="String">
                <value>c:\Temp\FScores</value>
            </setting>
            <setting name="fichierSauvegarde" serializeAs="String">
                <value>c:\temp\scorecards.xml</value>
            </setting>
            <setting name="dateFormat" serializeAs="String">
                <value>dd/MM/yy HH:mm</value>
            </setting>
        </GetScoresFromFiles.Properties.Settings>
    </userSettings>
</configuration>
