<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="LQPackStat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <LQPackStat.Properties.Settings>
            <setting name="FichierLog" serializeAs="String">
                <value>c:\temp\messagesLQPS.log</value>
            </setting>
            <setting name="FichierSauvegarde" serializeAs="String">
                <value>c:\temp\scorecards.xml</value>
            </setting>
            <setting name="RepertoireExport" serializeAs="String">
                <value>c:\temp</value>
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>dd/MM/yy HH:mm</value>
            </setting>
            <setting name="JoursRetention" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="FichierSource" serializeAs="String">
                <value>c:\temp\fscore.txt</value>
            </setting>
            <setting name="APIUrl" serializeAs="String">
                <value>http://localhost:57593</value>
            </setting>
            <setting name="CentreCle" serializeAs="String">
                <value>fe275a41-d34f-4106-b715-70afeca2403a</value>
            </setting>
        </LQPackStat.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Immutable" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.2.0.0" newVersion="1.2.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
